<section class="" id="home">
    <!-- Navigation Section -->
    <section class="shadow" id="navigation">
        <div class="inner navigation">
            <!-- Logo Img -->
            <div class="logo">
                <a class="scroll" href="/">
                    <img alt="Logo" src="/assets/images/logo.png"/>
                </a>
            </div>
            <!-- Nav Menu -->
            <div class="nav-menu">
                <ul class="nav main-nav">
                    {% for my_page in site.pages %}
                    <li>
                        {% if my_page.title %}
                           {% unless my_page.url contains '/blog/page2/' %}
                        <a class="page-link {% if my_page.url == page.url %} active {% endif %} " href="{{ my_page.url | prepend: site.baseurl }}">
                            {{ my_page.title }}
                        </a>
                          {% endunless %}
          
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Nav Menu -->
            <div class="clear">
            </div>
        </div>
    </section>
    <!-- End Navigation Section -->
</section>